<!DOCTYPE html>
<html>
<head>
	<title>Somesh Kar</title>

    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-W3L3T3P');</script>

	<!-- Meta -->
	<meta name="author" content="Somesh Kar">
	<meta name="description" content="My personal website for testing out random ideas.">
	<meta name="keywords" content="Somesh Kar somesh kar someshkar somesh's someshs">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#232741">
	<meta name="msapplication-navbutton-color" content="#232741">
	<meta name="apple-mobile-web-app-status-bar-style" content="#232741">

	<!-- Linking external resources -->
	<style>@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300');</style>
	<script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script src="main.js"></script>

	<!-- Icons -->
  	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-precomposed.png">
	<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
		<div id="particles"></div>
		<center><div class="everything">
		<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js" integrity="sha256-icjghcPaibMf1jv4gQIGi5MeWNHem2SispcorCiCfSg=" crossorigin="anonymous"></script>
		<script>particlesJS.load('particles', 'assets/particles.json');</script>
		<!-- Google Tag Manager (again) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3L3T3P"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		<!-- Stuff that matters coming up next -->

		<center><br><br><br><img class="me" src="images/me.jpg" alt="My personal website for testing out random ideas.">
		<div class="name">Somesh Kar</div><br></center>
			<div class="social">
				<center><a href="https://www.facebook.com/someshkarwastaken" target="_blank"><i class="fab fa-facebook" id="facebook"></i></a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="https://twitter.com/@someshkar" target="_blank"><i class="fab fa-twitter" id="twitter"></i></a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="https://github.com/someshkar" target="_blank"><i class="fab fa-github" id="github"></i></a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="mailto:i@somesh.co"><i class="fas fa-envelope" id="email"></i></a></center>
			</div>
		</div></center>
</body>
</html>
